{% load static %}
<!-- Importando Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<style>
    #map {
        height: 500px;
        width: 100%;
    }
</style>

<script>
    let lat, lng;
    let locations = {{ locations|safe }};
    console.log(locations);

    function initMap(userLat, userLng) {
        // Inicializa o mapa no Leaflet
        var map = L.map('map').setView([userLat, userLng], 16);

        // Adiciona a camada de tiles do OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        // Adiciona o marcador do usuário
        var userMarker = L.marker([userLat, userLng], {
            icon: L.icon({
                iconUrl: "{% static 'media/images/icons/marker-you-here.png' %}",
                iconSize: [40, 40]
            })
        }).addTo(map).bindPopup("<b>Você está por aqui!</b>").openPopup();

        // Adiciona os marcadores das organizações
        locations.forEach(function(location) {
            var orgMarker = L.marker([location[1], location[2]], {
                icon: L.icon({
                    iconUrl: "{% static 'media/images/icons/marker-dot.png' %}",
                    iconSize: [30, 30]
                })
            }).addTo(map);

            // Criando o conteúdo do pop-up
            var popupContent = `
                <a class="marker-content" href="/organizations/${location[3]}">
                    <p class="text-center fs-5">${location[0]}</p>
                    <div class="marker-image-container d-flex justify-content-center align-items-center">
                        <img src="/media/${location[4]}" class="marker-image" style="height: 150px;">
                    </div>
                </a>
            `;
            orgMarker.bindPopup(popupContent);
        });
    }

    function success(pos) {
        lat = pos.coords.latitude;
        lng = pos.coords.longitude;
        initMap(lat, lng);
    }

    function error(err) {
        console.warn(`ERROR(${err.code}): ${err.message}`);
    }

    const options = { enableHighAccuracy: true, timeout: 5000, maximumAge: 0 };
    navigator.geolocation.getCurrentPosition(success, error, options);
</script>
